body {
  background-color: var(--gray-100);
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.header {
  margin-top: 16rem;
}

.header h2 {
  font-size: var(--text-5xl);
  text-align: center;
  padding: 2rem 0rem;
  font-weight: 500;
  color: var(--gray-700);
}

.header p {
  color: var(--gray-500);
  text-align: center;
}

/* Responsive design  */

/* sm devices  */
@media (min-width: 640px) {
}

/* md devices  */
@media (min-width: 768px) {
}

/* lg devices  */
@media (min-width: 1024px) {
}

/* xl devices  */
@media (min-width: 1280px) {
}

/* 2xl devices */
@media (min-width: 1536px) {
}
